<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%= err.message %></h4>
                <!-- 오류스택을 렌더링할지 여부 결정 -->
                <!-- NODE_ENV=production node app.js 터미널에 입력하면 mapbox SDK가 오류발생-->
                <% if(process.env.NODE_ENV !== "production"){ %> 
                <p><%= err.stack %></p>
                <% } %> 
            </div>
        </div>
    </div>